html{
background-color:lavender;
}
body{
padding:4%;
}
title{
text-align:center;
}
.title_div{
height:20%;
width:80%;
margin-left:auto;
margin-right:auto;
background-image:url("t1.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
}
.home_div{
height:5%;
width:80%;
margin-left:auto;
margin-right:auto;
}


.ldiv1{
height:47%;
width:100%;
background-color:#666362;
}
.ldiv2{
height:47%;
width:100%;
background-color:#666362;
margin-top:10%;
}
.pright_div{
background-image:url("int.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
height:90%;
width:58%;	
margin-left:32%;
}
.right_div{


height:90%;
width:70%;	
margin-left:15%;
overflow-y:scroll;
}

.rdiv1{
height:100%;
width:32%;
/*border:1px solid black;*/
float:left;
background-image:url("elsa.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
}
.rdiv2{
height:100%;
width:32%;
/*border:1px solid black;*/
margin-left:34%;
background-image:url("mid1.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
}
.rdiv3{
height:100%;
width:32%;
/*border:1px solid black;*/
float:right;
background-image:url("dob1.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
}
.character1{
margin-left:-88%;
margin-top:98%;
color:black;
text-shadow: 0px 1px 1px #4d4d4d;
font:25px 'BlackJackRegular';
white-space:nowrap;
transform:rotate(-90deg);
transform-origin:right bottom 50;
}

.character{
margin-left:80%;
margin-top:177%;
color:black;
text-shadow: 0px 1px 1px #4d4d4d;
font:25px 'BlackJackRegular';
white-space:nowrap;
transform:rotate(-90deg);
transform-origin:right bottom 50;
}

.birthdate{
margin-bottom:50%;
margin-right:auto;
margin-left:23%;
color:black;
text-shadow: 0px 1px 1px #4d4d4d;
font:20px 'BlackJackRegular';
}
.formtitle{
text-align:center;
font-size:22px;
font-weight:bold;
}
.div_right{
background-image:url("int.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
height:90%;
width:58%;	
	
margin-left:32%;
}
.bcontent{
font-size:20px;
}
.btext{
font-style:italic;
color:#4682B4;
text-shadow: 0px 1px 1px #4d4d4d;
font:25px 'BlackJackRegular';
}
.mtitle{
color:black;
text-shadow: 0px 1px 1px #4d4d4d;
font:38px 'BlackJackRegular';

margin-top:6%;
text-align:center;
}
.format{
margin-left:55%;
color:red;
font-size:12px;
}
.avail{
color:#E0E8F0;
font-size:20px;
font-weight:bold;
text-align:center;
}
.gp{
height:25%;
width:68%;
margin-left:15%;
margin-top:12%;
}
.amazon{
height:21%;
width:25%;
margin-top:2%;
margin-left:5%;
}
.win{
height:21%;
width:25%;
margin-top:2%;
margin-left:4%;
}
.appstore{
height:25%;
width:25%;
float:left;
margin-left:5%;
}
.home{
font-size:22px;
font-weight:bold;
margin-left:94%;
text-decoration:underline;
}
.content{
color:#E0E8F0;
font-size:20px;
text-align:justify;
}
.cartoon1{
font-size:20px;
}

.mon{
margin-left:70%;
border-radius:25px;
}
.cartoon{
font-size:20px;
}
.ccar{
color:Red;
font-weight:bold;
font-style:italic;
font-size:40px;
margin-left:25%;
}
.cartimg{
border-radius:250px;
-webkit-border-radius:250px;
-moz-border-radius:250px;
margin-left:25%;
height:50%;
width:50%;
}

a:link{
text-decoration:none;
}

.img{
width:250px;
height:250px;
}
a:hover{
color:Red;
}
.tstyle{
color:black;
text-shadow: 0px 1px 1px #4d4d4d;
font:28px 'BlackJackRegular';
}
.modalWindow {
position: fixed;
font-family: arial;
font-size:80%;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.2);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}
.modalHeader h2 { color: #189CDA; border-bottom: 2px groove #efefef; }
.modalWindow:target {
opacity:1;
pointer-events: auto;
}
.modalWindow > div {
width: 500px;
position: relative;
margin: 10% auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #fff;
}
.modalWindow .modalHeader { padding: 5px 20px 0px 20px; }
.modalWindow .modalContent { padding: 0px 20px 5px 20px; }
.modalWindow .modalFooter { padding: 8px 20px 8px 20px; }
.modalFooter {
background: #F1F1F1;
border-top: 1px solid #999;
-moz-box-shadow: inset 0px 13px 12px -14px #888;
-webkit-box-shadow: inset 0px 13px 12px -14px #888;
box-shadow: inset 0px 13px 12px -14px #888;
}
.modalFooter p {
color:#D4482D;
text-align:right;
margin:0;
padding: 5px;
}
.ok, .close, .cancel {
background: #606061;
color: #FFFFFF;
line-height: 25px;
text-align: center;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}
.close {
position: absolute;
right: 5px;
top: 5px;
width: 22px;
height: 22px;
font-size: 10px;
 
}
.ok, .cancel {
width:80px;
float:right;
margin-left:20px;
}
.ok:hover { background: #189CDA; }
.close:hover, .cancel:hover { background: #D4482D; }
.clear { float:none; clear: both; }

.result{
border:2px solid black;
margin-left:10%;
width:80%;
}